.All-App{
  background-color: rgb(258, 242, 230)
}
.logo {
  height: 250px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: wrap;
  
}

.footer{
  display: grid;
  grid-template-columns: auto auto auto auto;

}